a {
  text-decoration: none;
}

body {
  background: -webkit-linear-gradient(bottom,#2c3e50,#16a085);
  background-repeat: no-repeat;
}

label {
  font-family: "Candara",sans-serif;
  font-size: 12pt;
}

#forgot-pass {
  color: #f2f2f2;
  font-family: "Candara",sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}

#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}

#card-content {
  padding: 12px 500px;
}

#card-title {
  font-family: "Candara",sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}

#signup {
  color: #f2f2f2;
  font-family: "Candara",sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

#submit-btn {
  background: #16a085;
  border-radius: 21px;
  border: none;
  box-shadow: 0px 1px 8px #000000;
  cursor: pointer;
  color: white;
  font-family: "Candara SemiBold",sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25px;
  width: 153px;
}

#submit-btn hover {
  box-shadow: 0px 1px 18px #000000;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-border {
  height: 1px;
  width: 100%;
  background: #2c3e50;
}

.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}

.underline-title {
  background: -webkit-linear-gradient(right,#2c3e50,#16a085,#2c3e50);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}
